/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: 'ExpletusSans';
  src: url('../fonts/ExpletusSans-Regular.ttf');
  font-weight: 400 ;

}

@font-face {
 font-family: 'ExpletusSansBold';
 src: url('../fonts/ExpletusSans-Bold.ttf');
 font-weight: 700;
}


li:first-of-type {
  padding:1em;
  overflow:auto;
}

li:first-of-type h2 {
  /* JOUW CODE HIER */
  font-size: 2em;

}

li:first-of-type p {
  /* JOUW CODE HIER */
  font-family: 'ExpletusSans';

}

/* hiermee selecteer je de eerste letter van de p in het eerste blokje */
li:first-of-type p::first-letter {
  /* JOUW CODE HIER */
  font-family: 'ExpletusSansBold';
  font-size: 2em;
}





/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Thin.ttf');
  font-weight: 100;
}


/* hiermee selecteer je het tweede blokje */
li:nth-of-type(2) {
  /* custom properties voor tweede blokje */
  --color:hsl(0 0% 100%);
  --background:rgb(0 24 54);
  --shadow:Cyan;
  
  /* met onderstaande regels staat de tekst in het midden */
  /* en elk woord op een nieuwe regel */
  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;
  
  background-color:var(--background);
}

li:nth-of-type(2) h2 {
  margin:0;
  color:var(--color);

  /* JOUW CODE HIER */
  font-family: 'Montserrat';
  color: var(--color);
  line-height: 1em;
  font-size: 2em;
  text-transform: uppercase ;
  text-shadow:
    0 0 .1em var(--shadow),
    0 0 .2em var(--shadow),
    0 0 .3em var(--shadow),
    0 0 .4em var(--shadow);
}





/******************************/
/* CODE VOOR HET DERDE BLOKJE */
/******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: 'Saira';
  src: url('../fonts/Saira_Condensed-Bold.ttf');
  font-weight: 700;
}

li:nth-of-type(3) {
  /* custom properties voor derde blokje */
  --color:white;
  --background:rgb(230 127 138);
  --shadow:rgb(0 0 0 / .75);

  /* JOUW CODE HIER */
  background-color: rgb(230 127 138);
  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;
}

li:nth-of-type(3) h2 {
  /* JOUW CODE HIER */
  font-family: 'Saira';
  color: var(--color) ;
  font-size: 3em;
  letter-spacing: 0.1em;
  text-shadow: 6px 3px var(--shadow);
  text-transform: uppercase;
  transform: skewY(-20deg);
  line-height: 1em;
  
}